<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hccs.app.studentIn" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.hccs.app.studentIn.Dashboard"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hccs.app.studentIn.AboutActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/aboutTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.hccs.app.studentIn.Dashboard" />
        </activity>
        <activity
            android:name="com.hccs.app.studentIn.SettingsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/action_settings"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.hccs.app.studentIn.Dashboard" />
        </activity>

        <activity
            android:name="com.hccs.app.studentIn.DisclaimerActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/aboutTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.hccs.app.studentIn.AboutActivity" />
        </activity>

    </application>

</manifest>
